@import 'style.css';

.main {
    font-family: poppins, sans-serif;
    font-size: 1.6rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-book-btn {
    padding: 3px 20px;
    border-radius: 10px;
    margin-top: 20px;
    /* position: fixed;
    left: 3%;
    top: 50px */
}
#new-book-btn:hover {
    cursor: pointer;
}

#new-book-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgb(46, 46, 46);
    padding: 30px 0px;
    z-index: 3;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.644);
}
#close-form {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 25px;
    margin: 15px;
    border-radius: 7px;
    outline: 2px solid black;
}
#close-form:hover {
    cursor: pointer;
    background-color: rgba(185, 1, 1, 0.788);
    color: white;
}

#library-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(240, 240, 240);
    width: 100%;
}

.input-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0px;
}

#library-form input, select {
    padding: 3px 10px;
    font-size: 1.3rem;
    border-radius: 7px;
    width: 300px;
    border: 2px solid black;
}

#library-form button {
    width: 300px;
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid black;
}

#library-form button:hover {
    cursor: pointer;
}

#book-list, #book-list-container {
    width: 100%;
}

#book-list-container h2 {
    margin-top: 30px;
}
#book-list {
    padding: 10px 60px 0px 60px;
}

#book-list li {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#book-list li button {
    font-size: 1.2rem;
    padding: 1px 10px;
    border-radius: 7px;
}

#book-list li button:hover {
    cursor: pointer;
}


table {
    /* padding: 60px; */
    font-size: 1.4rem;
}
th {
    position: sticky;
    top: 50px;
    z-index: 1;
    background-color: black;
    color: white;
}
td, th {
    border: 1px dotted rgba(255, 255, 255, 0.103);
    padding: 5px 10px;
}
td {
    height: 35px;
}
.column-1 {
    width: 270px;
}
.column-2 {
    width: 220px;
}
.column-3 {
    width: 70px;
}
.column-3-data {
    text-align: right;
}
.column-4 {
    width: 60px;
}
.column-4-data {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete-btn {
    font-size: 1.2rem;
    padding: 1px 10px;
    border-radius: 7px;
}
#delete-btn:hover {
    cursor: pointer;
}

.check:hover {
    cursor: pointer;
}